.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Pełna wysokość okna */
  overflow: hidden;
}

.main-content {
    flex: 1; /* Rozciąga się na całą dostępną przestrzeń */
    position: relative; /* Pozwala panelom bocznym "pływać" nad mapą */
    display: flex;
    flex-direction: column;
}

.page-title {
  padding: 0.8rem 1.5rem;
  margin: 0;
  font-size: 1.25rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e8f0;
  color: #1e293b;
  font-weight: 700;
  flex-shrink: 0; // Tytuł nie może się "skurczyć"
  text-align: center;
}

.map-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%; // Jeśli rodzic używa Flexbox, to wymusi wysokość
  min-height: 500px; // Zabezpieczenie
  overflow: hidden;

  // Styl dla samej mapy Leaflet
  #map {
    width: 100%;
    height: 100%;
    z-index: 1; // Mapa musi być najniżej
  }
}