server:
  port: 8080
  servlet:
    context-path: /api/v1
  tomcat:
    relaxed-query-chars: ['[', ']', ',']

spring:
  application:
    name: wind-turbine-maintenance
  http:
    encoding:
      charset: UTF-8
      enabled: true
  threads:
    virtual:
      enabled: true
  task:
    scheduling:
      pool:
        size: 5


  datasource:
    url: jdbc:postgresql://localhost:5432/machine_monitoring
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate  # Przeniesione poziom wyżej
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 500
        order_inserts: true
        order_updates: true
        format_sql: true # Dodatkowo dla ładnego logowania SQL
        transaction:
          jta:
            platform: org.hibernate.service.jta.platform.internal.NoJtaPlatform

  liquibase:
    enabled: true
    change-log: classpath:sql/db-changelog.xml

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            # Pozwala na serializację obiektów bez błędów bezpieczeństwa
            trusted:
              packages: "*"
    topic-name: wind-measurements
    consumer:
      group-id: alert-frontend-group
      auto-offset-reset: latest
      # Klasy deserializatorów
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
            value:
              default:
                type: "pl.zimnya.wind_turbine_maintenance.turbine.dto.PredictionResultDto"
          deserializer:
            value:
              delegate:
                class: org.springframework.kafka.support.serializer.JsonDeserializer